@{
    ViewData["Title"] = "Contact Me";
}
@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" />
}

<div class="contact-page-container">
    <div class="contact-card card-glass">
        <h2>Contact Me</h2>

        <p><strong>Name:</strong> Hazem Osama</p>
        <p><strong>Phone:</strong> <a href="tel:01020082819">01020082819</a></p>
        <p><strong>Email:</strong> <a href="mailto:hazemosama322@gmail.com">hazemosama322@gmail.com</a></p>

        <ul class="contact-links">
            <li><strong>GitHub:</strong> <a href="https://github.com/HaZem-Osama911" target="_blank">HaZem-Osama911</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/hazemosama911" target="_blank">hazemosama911</a></li>
        </ul>
    </div>
</div>
